@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mr+Bedfort:regular&display=swap);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2d2d33;
  line-height: 1.3;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: all 0.5s;
}

input:focus:-moz-placeholder {
  color: transparent;
  transition: all 0.5s;
}

input:focus::-moz-placeholder {
  color: transparent;
  transition: all 0.5s;
}

input:focus:-ms-input-placeholder {
  color: transparent;
  transition: all 0.5s;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
  transition: all 0.5s;
}

textarea:focus:-moz-placeholder {
  color: transparent;
  transition: all 0.5s;
}

textarea:focus::-moz-placeholder {
  color: transparent;
  transition: all 0.5s;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
  transition: all 0.5s;
}

body {
  font-weight: 400;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 73rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  background-color: #ba9255;
  color: #19161b;
  text-transform: capitalize;
  cursor: pointer;
}
@media (min-width: 75em) {
  .button {
    padding-left: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .button {
    padding-left: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .button {
    padding-left: 1rem;
  }
}
@media (min-width: 75em) {
  .button {
    padding-right: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .button {
    padding-right: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .button {
    padding-right: 1rem;
  }
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ece0d1;
  transition: width 0.6s ease;
}
.button:hover.button::before, .button:focus.button::before {
  width: 100%;
}
.button span {
  position: relative;
  transition: color 0.6s ease;
  z-index: 3;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.tabs__navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tabs__title {
  font-weight: 500;
  text-transform: capitalize;
}
.tabs__title._tab-active {
  color: #ba9255;
}
.tabs__content {
  padding: 2.5rem 0 0 0;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

@media (min-width: 75em) {
  .section-padding {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .section-padding {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .section-padding {
    padding-top: 2.5rem;
  }
}
@media (min-width: 75em) {
  .section-padding {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .section-padding {
    padding-bottom: calc(2.5rem + 5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .section-padding {
    padding-bottom: 2.5rem;
  }
}

.section-darkbg {
  background: #bfae93;
}

.section-lightbg {
  background: #ece0d1;
}

.bg-overlay {
  position: relative;
}
.bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-content {
  position: relative;
  z-index: 3;
}

.banner-position {
  background-position: center;
  background-size: cover;
  padding: 8.75rem 0 6.25rem;
}

.banner-text {
  max-width: 30rem;
  opacity: 0.8;
}

.page-title {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #fff;
}
@media (min-width: 75em) {
  .page-title {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page-title {
    margin-bottom: calc(1rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .page-title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 75em) {
  .page-title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .page-title {
    font-size: calc(1.875rem + 2.125 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .page-title {
    font-size: 1.875rem;
  }
}

.title {
  font-family: "Playfair Display";
  font-weight: 700;
}
@media (min-width: 75em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .title {
    font-size: calc(1.625rem + 0.875 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.625rem;
  }
}

.text {
  font-weight: 500;
  color: #fff;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #ba9255;
  text-transform: uppercase;
}
@media (min-width: 75em) {
  .subtitle {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .subtitle {
    margin-bottom: calc(0.75rem + 0.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .subtitle {
    margin-bottom: 0.75rem;
  }
}
.subtitle span {
  width: 3rem;
  height: 0.125rem;
  background-color: #2d2d33;
}

.subtitle-white {
  color: #fff;
}

.logo {
  font-family: "Mr Bedfort";
  color: #ba9255;
}
@media (min-width: 75em) {
  .logo {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .logo {
    font-size: calc(1.875rem + 0.125 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .logo {
    font-size: 1.875rem;
  }
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #ece0d1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.preloader__icon {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
}

.item-1 {
  background-color: #fdfcfe;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

.item-2 {
  background-color: #903317;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

.item-3 {
  background-color: #052949;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

.item-4 {
  background-color: #FAC24C;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

@keyframes item-1_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 2rem);
  }
  50% {
    transform: translate(2rem, 2rem);
  }
  75% {
    transform: translate(2rem, 0);
  }
}
@keyframes item-2_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2rem, 0);
  }
  50% {
    transform: translate(-2rem, 2rem);
  }
  75% {
    transform: translate(0, 2rem);
  }
}
@keyframes item-3_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -2rem);
  }
  50% {
    transform: translate(-2rem, -2rem);
  }
  75% {
    transform: translate(-2rem, 0);
  }
}
@keyframes item-4_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2rem, 0);
  }
  50% {
    transform: translate(2rem, -2rem);
  }
  75% {
    transform: translate(0, -2rem);
  }
}
.scrollup {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d33;
  cursor: pointer;
  z-index: 500;
}
.scrollup:hover {
  background-color: #ba9255;
}
.scrollup svg {
  fill: #ece0d1;
  transition: fill 0.4s ease;
}
.scrollup:hover svg {
  fill: #19161b;
}

.showBtn {
  transition: transform 0.8s ease, background-color 0.6s ease;
  transform: translateX(0);
}
.showBtn-hide {
  transform: translateX(12.5rem);
}

.hide {
  opacity: 0;
}

.animation-textLeft {
  animation-name: zoomLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animation-textRight {
  animation-name: zoomRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes zoomRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.header {
  padding: 1.25rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: rgba(25, 22, 27, 0.9);
  color: #fff;
  transition: 0.8s ease;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 6;
}

@media (max-width: 47.99875em) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 50%;
    height: 100%;
    background: #19161b;
    overflow: auto;
    transition: transform 0.8s ease;
    z-index: 5;
  }
  .navbar-open .navbar {
    transform: translateX(0);
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .navbar {
    width: 100%;
  }
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 47.99875em) {
  .navbar__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
  }
}
.navbar__link {
  transition: color 0.6s ease;
}
@media (max-width: 47.99875em) {
  .navbar__link {
    font-size: 1.5rem;
  }
}
@media (max-width: 29.99875em) {
  .navbar__link {
    font-size: 1.25rem;
  }
}
.navbar__link:hover {
  color: #ba9255;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ba9255;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .navbar-open .icon-menu span {
    transform: scale(0);
  }
  .navbar-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 0.0625rem);
  }
  .navbar-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 0.0625rem);
  }
}

.footer {
  background: #19161b;
  color: #fff;
}
.footer__top {
  text-align: center;
  border-bottom: 1px solid grey;
}
@media (min-width: 75em) {
  .footer__top {
    padding-top: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__top {
    padding-top: calc(1.5rem + 1.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .footer__top {
    padding-top: 1.5rem;
  }
}
@media (min-width: 75em) {
  .footer__top {
    padding-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__top {
    padding-bottom: calc(1.5rem + 1.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .footer__top {
    padding-bottom: 1.5rem;
  }
}
.footer__logo {
  display: block;
}
@media (min-width: 75em) {
  .footer__logo {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__logo {
    margin-bottom: calc(1.5rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .footer__logo {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 75em) {
  .footer__navbar {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__navbar {
    margin-bottom: calc(1.5rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .footer__navbar {
    margin-bottom: 1.5rem;
  }
}
.footer__copyright {
  text-align: center;
}
@media (min-width: 75em) {
  .footer__copyright {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__copyright {
    padding-top: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .footer__copyright {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .footer__copyright {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .footer__copyright {
    padding-bottom: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .footer__copyright {
    padding-bottom: 1.25rem;
  }
}

.navbar-footer__list {
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .navbar-footer__list {
    padding: 0;
    gap: 0.75rem;
  }
}
@media (max-width: 47.99875em) {
  .navbar-footer__link {
    font-size: 1rem;
  }
}

.media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 75em) {
  .media-footer {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .media-footer {
    gap: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .media-footer {
    gap: 1rem;
  }
}
.media-footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #ece0d1;
  transition: fill 0.4s ease, border-color 0.4s ease;
  fill: #ece0d1;
}
.media-footer__icon:hover {
  fill: #ba9255;
  border-color: #ba9255;
}
@media (max-width: 29.99875em) {
  .media-footer__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .media-footer__icon svg {
    width: 1rem;
    height: 1rem;
  }
}

.slider-banner__slide {
  height: 100%;
  overflow: hidden;
}
.slider-banner__image {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-banner__image--1 {
  background-image: url("../img/banner/1.jpg");
}
.slider-banner__image--2 {
  background-image: url("../img/banner/2.jpg");
}
.slider-banner__image--3 {
  background-image: url("../img/banner/3.jpg");
}
.slider-banner__content {
  max-width: 43.75rem;
  padding: 6.25rem 0;
  color: #fff;
}
.slider-banner__subtitle {
  display: block;
  font-size: 1.25rem;
}
@media (min-width: 75em) {
  .slider-banner__subtitle {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slider-banner__subtitle {
    margin-bottom: calc(1rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .slider-banner__subtitle {
    margin-bottom: 1rem;
  }
}
@media (min-width: 75em) {
  .slider-banner__text {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slider-banner__text {
    margin-bottom: calc(1rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .slider-banner__text {
    margin-bottom: 1rem;
  }
}
.slider-banner__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.slider-banner__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background: #2d2d33;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  cursor: pointer;
}
.slider-banner__arrow:hover {
  background-color: #ece0d1;
}
.slider-banner__arrow svg {
  fill: #ece0d1;
  transition: fill 0.3s ease;
}
.slider-banner__arrow:hover svg {
  fill: #2d2d33;
}
.slider-banner:hover .slider-banner__arrow {
  opacity: 0.7;
  visibility: visible;
}
.slider-banner__arrow-prev {
  transform: translateX(1rem);
}
.slider-banner__arrow-next {
  transform: translateX(-1rem);
}

.feature__container {
  display: flex;
}
@media (max-width: 47.99875em) {
  .feature__container {
    flex-direction: column-reverse;
  }
}
.feature__column {
  flex: 0 1 50%;
}
.feature__content {
  padding: 4.5rem 2rem 4.5rem 0;
}
@media (max-width: 61.99875em) {
  .feature__content {
    padding: 1rem 1rem 0.25rem 0;
  }
}
@media (max-width: 47.99875em) {
  .feature__content {
    padding-bottom: 0;
    padding-right: 0;
  }
}
@media (min-width: 75em) {
  .feature__title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .feature__title {
    margin-bottom: calc(0.75rem + 0.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .feature__title {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 75em) {
  .feature__text {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .feature__text {
    margin-bottom: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .feature__text {
    margin-bottom: 1rem;
  }
}
.feature__button {
  margin: 0 0 2.5rem;
}
.feature__button::before {
  background-color: #19161b;
}
.feature__button:hover span {
  color: #ece0d1;
}
@media (max-width: 61.99875em) {
  .feature__button {
    margin: 0 0 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .feature__button {
    margin: 0 auto;
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .feature__info {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .feature__info {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .feature__info {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 75em) {
  .feature__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .feature__item:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.375 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .feature__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.feature__image {
  flex: 1 1 auto;
}

.item-feature__title {
  font-weight: 600;
}
@media (min-width: 75em) {
  .item-feature__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-feature__title {
    font-size: calc(1rem + 0.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-feature__title {
    font-size: 1rem;
  }
}

.about__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .about__container {
    flex-direction: column;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  padding: 0 1.25rem 0 0;
}
@media (max-width: 47.99875em) {
  .about__content {
    padding: 0;
  }
}
@media (min-width: 75em) {
  .about__subtitle {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .about__subtitle {
    margin-bottom: calc(0.75rem + 0.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .about__subtitle {
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 75em) {
  .about__title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .about__title {
    margin-bottom: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .about__title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 75em) {
  .about__text {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .about__text {
    margin-bottom: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .about__text {
    margin-bottom: 1.25rem;
  }
}
.about__subtitle {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.375rem;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .about__subtitle {
    font-size: 1.25rem;
  }
}
.about__row {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 75em) {
  .about__row {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .about__row {
    gap: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .about__row {
    gap: 1rem;
  }
}
@media (min-width: 75em) {
  .about__row {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .about__row {
    margin-bottom: calc(1rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .about__row {
    margin-bottom: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .about__row {
    flex-direction: column;
  }
}
.about__button {
  align-self: flex-start;
  background-color: #19161b;
  color: #ece0d1;
}
.about__button:hover span {
  color: #19161b;
}
@media (max-width: 61.99875em) {
  .about__button {
    align-self: center;
  }
}
@media (max-width: 61.99875em) and (min-width: 75em) {
  .about__button {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 75em) {
  .about__button {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .about__button {
    margin-bottom: 1.25rem;
  }
}
.about__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.9375rem;
}
.about__image {
  display: block;
  width: 100%;
  overflow: hidden;
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}
.about__image:hover img {
  transform: scale(1.1);
}

@media (max-width: 47.99875em) {
  .item-about {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.item-about__number {
  display: inline-block;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #19161b;
  margin: 0 0 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ece0d1;
}
@media (max-width: 47.99875em) {
  .item-about__number {
    margin: 0;
  }
}
.item-about__title {
  display: block;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  text-transform: capitalize;
}
@media (min-width: 75em) {
  .item-about__title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-about__title {
    margin-bottom: calc(0.5rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-about__title {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 75em) {
  .item-about__text:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-about__text:not(:last-child) {
    margin-bottom: calc(0.5rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-about__text:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.serving__content {
  display: flex;
  gap: 2rem;
}
@media (min-width: 75em) {
  .serving__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .serving__content {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .serving__content {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .serving__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.serving__title {
  flex: 0 1 50%;
}
.serving__text {
  flex: 0 1 50%;
  padding: 0 2rem 0 0;
}
.serving__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 61.99875em) {
  .serving__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .serving__row {
    grid-template-columns: 1fr;
  }
}
.serving__col {
  background: #19161b;
}
@media (min-width: 75em) {
  .serving__col {
    padding: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .serving__col {
    padding: calc(2rem + 1 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .serving__col {
    padding: 2rem;
  }
}

.item-serving {
  position: relative;
  color: #fff;
  transition: all 0.6s ease-in-out;
}
.item-serving::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  border: 1px solid #ba9255;
}
.item-serving:hover {
  transform: translateY(-0.75rem);
}
.item-serving__icon {
  margin: 0 0 1rem;
}
.item-serving__icon svg {
  fill: #ba9255;
}
.item-serving__title {
  display: block;
  margin: 0 0 1rem;
  font-family: "Playfair Display";
  font-weight: 600;
  text-transform: capitalize;
}
@media (min-width: 75em) {
  .item-serving__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-serving__title {
    font-size: calc(1.375rem + 0.125 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-serving__title {
    font-size: 1.375rem;
  }
}
.item-serving__text {
  opacity: 0.6;
}

.menu__container {
  display: flex;
  flex-direction: column;
}
.menu__content {
  display: flex;
  gap: 2rem;
}
@media (min-width: 75em) {
  .menu__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .menu__content {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .menu__content {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.menu__title {
  flex: 0 1 50%;
}
.menu__text {
  flex: 0 1 50%;
  padding: 0 2rem 0 0;
}
.menu__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (min-width: 75em) {
  .menu__items {
    margin-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .menu__items {
    margin-bottom: calc(1.5rem + 1.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .menu__items {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 37.5rem) {
  .menu__items {
    grid-template-columns: 1fr;
  }
}
.menu__button {
  align-self: center;
  background-color: #19161b;
  color: #ece0d1;
}
.menu__button:hover span {
  color: #19161b;
}

.item-menu {
  display: flex;
  flex-direction: column;
  background: #1f1d21;
  color: #ece0d1;
}
.item-menu__image-ibg {
  padding: 0 0 70%;
  overflow: hidden;
}
.item-menu__image-ibg img {
  transition: transform 0.6s ease;
}
.item-menu__image-ibg:hover img {
  transform: scale(1.15);
}
.item-menu__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 75em) {
  .item-menu__content {
    padding-top: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-menu__content {
    padding-top: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-menu__content {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .item-menu__content {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-menu__content {
    padding-bottom: calc(1.25rem + 0.25 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-menu__content {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 75em) {
  .item-menu__content {
    padding-right: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-menu__content {
    padding-right: calc(1rem + 0.875 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-menu__content {
    padding-right: 1rem;
  }
}
@media (min-width: 75em) {
  .item-menu__content {
    padding-left: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .item-menu__content {
    padding-left: calc(1rem + 0.875 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .item-menu__content {
    padding-left: 1rem;
  }
}
.item-menu__title {
  text-transform: uppercase;
}
.item-menu__text {
  font-weight: 600;
}

.quote__body {
  display: flex;
  justify-content: space-between;
  background: #1F1D21;
  color: #ece0d1;
}
@media (max-width: 61.99875em) {
  .quote__body {
    flex-direction: column;
  }
}
.quote__content {
  flex: 0 1 45%;
}
@media (min-width: 75em) {
  .quote__content {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__content {
    padding-top: calc(1.875rem + 4.375 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__content {
    padding-top: 1.875rem;
  }
}
@media (min-width: 75em) {
  .quote__content {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__content {
    padding-bottom: calc(1.25rem + 3.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__content {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 75em) {
  .quote__content {
    padding-right: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__content {
    padding-right: calc(1.25rem + 3.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__content {
    padding-right: 1.25rem;
  }
}
@media (min-width: 75em) {
  .quote__content {
    padding-left: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__content {
    padding-left: calc(1.25rem + 3.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__content {
    padding-left: 1.25rem;
  }
}
.quote__text {
  font-family: "Playfair Display";
  font-weight: 500;
  opacity: 0.87;
  position: relative;
}
@media (min-width: 75em) {
  .quote__text {
    margin-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__text {
    margin-bottom: calc(1.125rem + 1.875 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__text {
    margin-bottom: 1.125rem;
  }
}
@media (min-width: 75em) {
  .quote__text {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__text {
    font-size: calc(1.125rem + 0.625 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__text {
    font-size: 1.125rem;
  }
}
.quote__text::before {
  content: "“";
  position: absolute;
  left: 0;
}
@media (min-width: 75em) {
  .quote__text::before {
    top: -3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__text::before {
    top: calc(-1.5rem + -2 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__text::before {
    top: -1.5rem;
  }
}
@media (min-width: 75em) {
  .quote__text::before {
    font-size: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__text::before {
    font-size: calc(1.875rem + 2.625 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__text::before {
    font-size: 1.875rem;
  }
}
.quote__video {
  flex: 1 1 auto;
  position: relative;
  padding: 0 0 40% 0;
}
@media (min-width: 75em) {
  .quote__video {
    min-height: 21.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .quote__video {
    min-height: calc(13.75rem + 8.125 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .quote__video {
    min-height: 13.75rem;
  }
}
.quote__video video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.info-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem solid grey;
}
.info-quote__text span {
  display: block;
}
.info-quote__author {
  margin: 0 0 0.25rem;
}
.info-quote__location {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.6;
}
.info-quote__image {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.info-quote__image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-quote__image::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  right: 0;
  width: 3rem;
  border-bottom: 0.125rem solid #ece0d1;
}

@media (min-width: 75em) {
  .blog__title {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .blog__title {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .blog__title {
    margin-bottom: 1.25rem;
  }
}
.blog__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
@media (max-width: 29.99875em) {
  .blog__row {
    grid-template-columns: 1fr;
  }
}

.item-blog {
  display: flex;
  flex-direction: column;
  background: #19161b;
}
.item-blog__image-ibg {
  display: block;
  padding: 0 0 80%;
  overflow: hidden;
}
.item-blog__image-ibg img {
  transition: transform 0.6s ease;
}
.item-blog__image-ibg:hover img {
  transform: scale(1.1);
}
.item-blog__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5rem;
  color: #fff;
}
.item-blog__content::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  border: 1px solid #ba9255;
}
.item-blog__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}
.item-blog__date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 0.5rem;
  font-size: 0.875rem;
  color: #ece0d1;
  transition: color 0.6s ease;
}
.item-blog__date svg {
  fill: #ece0d1;
}
.item-blog__title {
  margin: 0 0 1rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  transition: color 0.6s ease;
}
.item-blog__title:hover {
  color: #ba9255;
}
.item-blog__text {
  flex: 1 1 auto;
  margin: 0 0 2rem;
  transition: color 0.6s ease;
  opacity: 0.7;
}
@media (max-width: 29.99875em) {
  .item-blog__text {
    margin: 0 0 1rem;
  }
}
.item-blog__button {
  align-self: flex-start;
}

.contact__container {
  display: flex;
}
@media (max-width: 47.99875em) {
  .contact__container {
    flex-wrap: wrap;
  }
}
.contact__content {
  flex: 0 1 40%;
  background: #19161b;
  color: #ece0d1;
}
@media (min-width: 75em) {
  .contact__content {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .contact__content {
    padding-top: calc(1.875rem + 3.125 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .contact__content {
    padding-top: 1.875rem;
  }
}
@media (min-width: 75em) {
  .contact__content {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .contact__content {
    padding-bottom: calc(1.875rem + 3.125 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .contact__content {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 75em) {
  .contact__content {
    padding-right: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .contact__content {
    padding-right: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .contact__content {
    padding-right: 1.25rem;
  }
}
@media (min-width: 75em) {
  .contact__content {
    padding-left: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .contact__content {
    padding-left: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .contact__content {
    padding-left: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .contact__content {
    flex: 0 1 100%;
  }
}
.contact__item:not(:last-child) {
  margin: 0 0 2rem;
}

.item-contact span {
  display: block;
}
.item-contact__subtitle {
  margin: 0 0 0.5rem;
}

.map {
  flex: 0 1 60%;
}
@media (max-width: 47.99875em) {
  .map {
    flex: 0 1 100%;
    min-height: 25rem;
  }
}

.menu-banner {
  background-image: url("../img/menu-page/menu-bg.jpg");
}
.menu-banner__title {
  opacity: 0;
  animation-delay: 0.6s;
}
.menu-banner__text {
  opacity: 0;
  animation-delay: 0.8s;
}

.about-banner {
  background-image: url("../img/about-page/about-bg.jpg");
}
.about-banner__title {
  opacity: 0;
  animation-delay: 0.6s;
}
.about-banner__text {
  opacity: 0;
  animation-delay: 0.8s;
}

@media (min-width: 75em) {
  .story {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .story {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .story {
    padding-top: 2.5rem;
  }
}
@media (min-width: 75em) {
  .story {
    padding-bottom: 10.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .story {
    padding-bottom: calc(2.5rem + 8 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .story {
    padding-bottom: 2.5rem;
  }
}
.story__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 52.5rem) {
  .story__container {
    flex-direction: column;
  }
}
.story__content {
  flex: 0 1 40%;
}
.story__title {
  margin: 0 0 2rem;
}
.story__text:not(:last-child) {
  margin: 0 0 0.5rem;
}
.story__image {
  position: relative;
  padding: 0 3rem 0 0;
}
.story__image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.story__image::after {
  content: "";
  position: absolute;
  width: 23.4375rem;
  height: 100%;
  background-color: #19161b;
  top: 3rem;
  left: 3rem;
}
@media (max-width: 52.5rem) {
  .story__image::after {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .story__image {
    padding: 0;
  }
}
@media (max-width: 29.99875em) {
  .story__image {
    width: 100%;
  }
}

.image-story__content {
  position: absolute;
  width: 13.75rem;
  height: 7.5rem;
  bottom: -3rem;
  left: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: #19161b;
  color: #ece0d1;
  z-index: 3;
}
@media (max-width: 52.5rem) {
  .image-story__content {
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.image-story__number {
  display: block;
  font-weight: 500;
  font-size: 3.125rem;
}

@media (min-width: 75em) {
  .experience {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .experience {
    padding-top: calc(2.5rem + 2.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .experience {
    padding-top: 2.5rem;
  }
}
@media (min-width: 75em) {
  .experience {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .experience {
    padding-bottom: calc(2.5rem + 2.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .experience {
    padding-bottom: 2.5rem;
  }
}
.experience__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
@media (max-width: 47.99875em) {
  .experience__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 29.99875em) {
  .experience__row {
    grid-template-columns: 1fr;
  }
}
.item-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.item-experience__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  background-color: #19161b;
  border-radius: 50%;
  transition: transform 0.6s ease-out;
}
.item-experience__icon::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  border: 1px solid #ba9255;
  border-radius: 50%;
}
.item-experience__icon:hover {
  transform: translateY(-0.5rem);
}
.item-experience__icon svg {
  fill: #fff;
}
.item-experience__number {
  font-weight: 600;
  font-size: 2.75rem;
}
.item-experience__text {
  font-weight: 500;
  text-transform: capitalize;
}

@media (min-width: 75em) {
  .team {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .team {
    padding-top: calc(2.5rem + 5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .team {
    padding-top: 2.5rem;
  }
}
@media (min-width: 75em) {
  .team {
    padding-bottom: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .team {
    padding-bottom: calc(5rem + 5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .team {
    padding-bottom: 5rem;
  }
}
.team__content {
  display: flex;
  gap: 2rem;
}
@media (min-width: 75em) {
  .team__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .team__content {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .team__content {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .team__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.team__title {
  flex: 0 1 50%;
}
.team__text {
  flex: 0 1 50%;
  padding: 0 2rem 0 0;
}
.team__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  column-gap: 1rem;
  row-gap: 4.5rem;
}

.item-team {
  position: relative;
  transition: transform 0.8s ease;
}
.item-team:hover {
  transform: translateY(-0.5rem);
}
.item-team:hover .media-team {
  transform: translateX(-1.25rem);
  opacity: 1;
  visibility: visible;
}
.item-team__image-ibg {
  display: block;
  padding: 0 0 125%;
}
.item-team__content {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -3rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
  background-color: #19161b;
  text-transform: capitalize;
}
.item-team__content::before {
  content: "";
  position: absolute;
  border: 1px solid #ba9255;
  top: 0.125rem;
  left: 0.125rem;
  right: 0.125rem;
  bottom: 0.125rem;
}
.item-team__content h5 {
  position: relative;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  transition: color 0.6s ease;
  white-space: nowrap;
  z-index: 6;
}
.item-team__content h5:hover {
  color: #ba9255;
}
.item-team__content span {
  color: #ba9255;
}

.media-team {
  position: absolute;
  top: 0.75rem;
  right: 0;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s ease;
}
.media-team__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ba9255;
  border-radius: 50%;
  transition: background-color 0.8s ease;
}
.media-team__icon:hover {
  background-color: #19161b;
}
.media-team__icon svg {
  fill: #19161b;
  transition: fill 0.8s ease;
}
.media-team__icon:hover svg {
  fill: #ba9255;
}

.reviews__content {
  display: flex;
  gap: 2rem;
}
@media (min-width: 75em) {
  .reviews__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .reviews__content {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .reviews__content {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .reviews__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.reviews__title {
  flex: 0 1 50%;
}
.reviews__text {
  flex: 0 1 50%;
}
.reviews__slider {
  position: relative;
  overflow: hidden;
}
@media (min-width: 75em) {
  .reviews__slider {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .reviews__slider {
    padding-bottom: calc(2rem + 1.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .reviews__slider {
    padding-bottom: 2rem;
  }
}
.reviews__pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: 0.3s opacity;
  z-index: 10;
  bottom: 0;
  width: 100%;
}
.reviews__pagination .swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  background-color: #19161b;
}
.reviews__pagination .swiper-pagination-bullet-active {
  background-color: #ba9255;
}

.slide-reviews {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  overflow: hidden;
}
@media (max-width: 47.99875em) {
  .slide-reviews {
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 3rem;
  }
}
.slide-reviews__image {
  position: relative;
  flex: 0 0 24%;
}
.slide-reviews__image::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: -1.5rem;
  bottom: -1.5rem;
  width: 15.625rem;
  height: calc(100% + 3rem);
  background-color: #ba9255;
  z-index: -1;
}
.slide-reviews__image img {
  transition: transform 0.6s ease;
}
.slide-reviews__image:hover img {
  transform: translateY(-0.5rem);
}
.slide-reviews__content {
  border: 1px solid #ba9255;
}
@media (min-width: 75em) {
  .slide-reviews__content {
    padding-top: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-reviews__content {
    padding-top: calc(1rem + 2 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .slide-reviews__content {
    padding-top: 1rem;
  }
}
@media (min-width: 75em) {
  .slide-reviews__content {
    padding-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-reviews__content {
    padding-bottom: calc(1rem + 2 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .slide-reviews__content {
    padding-bottom: 1rem;
  }
}
@media (min-width: 75em) {
  .slide-reviews__content {
    padding-left: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-reviews__content {
    padding-left: calc(1rem + 2 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .slide-reviews__content {
    padding-left: 1rem;
  }
}
@media (min-width: 75em) {
  .slide-reviews__content {
    padding-right: 6rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-reviews__content {
    padding-right: calc(1rem + 5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .slide-reviews__content {
    padding-right: 1rem;
  }
}
.slide-reviews__rating {
  margin: 0 0 0.5rem;
}
@media (max-width: 47.99875em) {
  .slide-reviews__rating {
    text-align: center;
  }
}
.slide-reviews__rating svg {
  fill: #ba9255;
}
.slide-reviews__text {
  margin: 0 0 1rem;
}
.slide-reviews__title {
  font-weight: 600;
  font-size: 1.375rem;
  text-transform: capitalize;
}
@media (max-width: 47.99875em) {
  .slide-reviews__title {
    text-align: center;
  }
}

.blog-banner {
  background-image: url("../img/blog-page/blog-bg.jpg");
}
.blog-banner__title {
  opacity: 0;
  animation-delay: 0.6s;
}
.blog-banner__text {
  opacity: 0;
  animation-delay: 0.8s;
}

.posts__content {
  display: flex;
  gap: 2rem;
}
@media (min-width: 75em) {
  .posts__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .posts__content {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .posts__content {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .posts__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.posts__title, .posts__text {
  flex: 0 1 50%;
}
.posts__text {
  padding: 0 2rem 0 0;
}
.posts__row {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
@media (min-width: 75em) {
  .posts__row {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .posts__row {
    gap: calc(0.5rem + 1.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .posts__row {
    gap: 0.5rem;
  }
}
@media (max-width: 61.99875em) {
  .posts__row {
    grid-template-columns: 6fr 4fr;
  }
}
@media (max-width: 47.99875em) {
  .posts__row {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item-sidebar {
  padding: 2rem 1.5rem;
  background-color: rgba(191, 174, 147, 0.5);
  border-radius: 0.25rem;
}
.item-sidebar__title {
  display: inline-block;
  margin: 0 0 2rem;
  padding: 0 0 0.5rem;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  border-bottom: 3px solid #ba9255;
}
.categories-sidebar li {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.categories-sidebar__link {
  font-weight: 500;
  text-transform: capitalize;
}
.categories-sidebar__link svg {
  transition: fill 0.6s ease;
}
.categories-sidebar__link span {
  transition: color 0.6s ease;
}
.categories-sidebar__link:hover svg {
  fill: #ba9255;
}
.categories-sidebar__link:hover span {
  color: #ba9255;
}

.post-sidebar:not(:last-child) {
  margin: 0 0 1.5rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-sidebar__image-ibg {
  display: block;
  padding: 0 0 60%;
  margin: 0 0 1rem;
  overflow: hidden;
}
.post-sidebar__image-ibg img {
  transition: transform 0.6s ease;
}
.post-sidebar__image-ibg:hover img {
  transform: scale(1.06);
}
.post-sidebar__title {
  margin: 0 0 0.25rem;
  font-weight: 600;
}
.post-sidebar__time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post-sidebar__text {
  opacity: 0.7;
}

.tag-sidebar {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.tag-sidebar li {
  padding: 0.5rem 0.75rem;
  background-color: #19161b;
  border-radius: 0.25rem;
  transition: background-color 0.6s ease;
}
.tag-sidebar li:hover {
  background-color: #ba9255;
}
.tag-sidebar li:hover .tag-sidebar__link {
  color: #19161b;
}
.tag-sidebar__link {
  color: #ece0d1;
  transition: color 0.6s ease;
}

.media-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.media-sidebar__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #19161b;
  border-radius: 2rem;
  transition: background-color 0.4s ease;
}
.media-sidebar__link:hover {
  background-color: #ba9255;
}
.media-sidebar__link:hover .media-sidebar__icon, .media-sidebar__link:hover .media-sidebar__content {
  fill: #19161b;
  color: #19161b;
}
.media-sidebar__icon {
  fill: #ece0d1;
  transition: fill 0.6s ease;
}
.media-sidebar__content {
  color: #ece0d1;
  text-transform: capitalize;
  transition: color 0.6s ease;
}
.media-sidebar__title {
  display: block;
  margin: 0 0 0.25rem;
  font-weight: 600;
}
.media-sidebar__text {
  display: block;
  opacity: 0.7;
}

.contact-banner {
  background-image: url("../img/contact-page/contact-bg.jpg");
}
.contact-banner__title {
  opacity: 0;
  animation-delay: 0.6s;
}
.contact-banner__text {
  opacity: 0;
  animation-delay: 0.8s;
}

.questions__content {
  display: flex;
  gap: 2rem;
}
@media (min-width: 75em) {
  .questions__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .questions__content {
    margin-bottom: calc(1.25rem + 2.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .questions__content {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .questions__content {
    flex-direction: column;
    gap: 1rem;
  }
}
.questions__title {
  flex: 0 1 50%;
}
.questions__text {
  flex: 0 1 50%;
}

.form {
  position: relative;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 4rem 3rem;
  background-color: #19161b;
}
.form::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  border: 1px solid #ba9255;
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .form {
    padding-top: 4rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .form {
    padding-top: calc(1.5rem + 2.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .form {
    padding-top: 1.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .form {
    padding-bottom: 4rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .form {
    padding-bottom: calc(1.5rem + 2.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .form {
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .form {
    padding-left: 3rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .form {
    padding-left: calc(1rem + 2 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .form {
    padding-left: 1rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .form {
    padding-right: 3rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .form {
    padding-right: calc(1rem + 2 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .form {
    padding-right: 1rem;
  }
}
.form__title {
  font-weight: 500;
  text-align: center;
  color: #ece0d1;
  text-transform: capitalize;
}
@media (min-width: 75em) {
  .form__title {
    margin-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .form__title {
    margin-bottom: calc(1.25rem + 1.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .form__title {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 75em) {
  .form__title {
    font-size: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .form__title {
    font-size: calc(1.375rem + 0.75 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .form__title {
    font-size: 1.375rem;
  }
}
.form__body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}
.form__row input, .form__row textarea {
  width: 100%;
  padding: 1rem;
  background-color: #f4f5f8;
  border: 3px solid #b8b8b8;
  text-transform: capitalize;
}
.form__row input:focus, .form__row textarea:focus {
  border-color: #ba9255;
  background-color: #fff;
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .form__row input, .form__row textarea {
    padding: 1rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .form__row input, .form__row textarea {
    padding: calc(0.5rem + 0.5 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .form__row input, .form__row textarea {
    padding: 0.5rem;
  }
}
@media (min-width: 75em) {
  .form__row textarea {
    height: 9rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .form__row textarea {
    height: calc(6rem + 3 * (((100vw - 20rem)) / ((55))));
  }
}
@media (max-width: 20em) {
  .form__row textarea {
    height: 6rem;
  }
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
